# Dependency directories
node_modules/

# Serverless directories
.serverless/
.build/
.webpack/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# DynamoDB Local files
.dynamodb/